.packages
*~
pubspec.lock
.pub
.idea/workspace.xml
.idea/tasks.xml
lib/*.o
.idea/libraries/*.xml
.idea/vcs.xml
.idea/php.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.dart_tool/
.idea/inspectionProfiles/
